@import "../scss/variables";

.view-id-contact_us {
    .node--view-mode-teaser {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;

        .node__title {
            text-align: center;
            text-transform: uppercase;
            color: #373645;
            margin: 88px 42% 61px;
            font-size: 20px;
            font-weight: 700;

            &:after {
                display: block;
                content: '';
                width: 55px;
                position: relative;
                height: 4px;
                background-color: $primary-light;
                margin: 0 auto;
                transform: translate(0px, 10px);
            }
        }
    }
}

.block-field-blocknodecontactfield-contact-webform {
    margin-left: 150px;

    input,textarea{
        margin-bottom: 18px;
        text-transform: uppercase;
    }

    #edit-name {
        padding: 10px 0;
        width: 462px;
    }

    #edit-email {
        padding: 10px 0;
        width: 462px;
    }

    #edit-subject {
        padding: 10px 0;
        width: 462px;
    }

    #edit-message {
        width: 462px;
        padding: 35px 0;
    }

    #edit-actions-submit {
        width: 190px;
        height: 48px;
        background-color: $contact-red;
        border-color: $contact-red;
        color: $white;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 53px
    }

    .layout--twocol-section--50-50 {
        display: flex;
        flex-wrap: nowrap;

    }

}

.block-field-blocknodecontactfield-location {
    margin-bottom: 33px;

    p {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 22px;
    }

    h3 {
        font-weight: bolder;
        font-size: 14px;
        display: flex;
        text-transform: uppercase;
        flex-direction: column;
        align-items: flex-start;
        line-height: 22px;
    }
}