@import "../scss/variables";

.header {
  z-index: 0;
  padding-bottom: 20px;
  background-color: $primary-light;
  background-image: url("../img/header/header.png");
  background-position: center;
  background-size: cover;

  #block-exam-search {
    display: flex;
    align-items: center;
    padding-left: 10px;

    #edit-actions {
      padding: 0;

      #edit-submit {
        display: flex;
        justify-content: flex-end;
        border-radius: 0;
        background: none;
        color: transparent;
        background: url('../img/icons8-search-64.png');
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: center;
        border-color: #dbdbdb;
        padding-left: 0;
        padding-right: 0;
        width: 43px;
        height: 43px;
      }
    }

    #edit-keys {
      padding: 5px 0px 9px 5px;
    }

    .form-row>fieldset,
    .form-row>div {
      padding: 0;
      flex: 0 1 auto;
      width: auto;
      max-width: none;
    }
  }

  #search-block-form {
    display: flex;
    margin-left: 10px;
  }

  .block-addtoany-block {
    margin: 14px 0px 16px 0px;
    display: flex;
    align-items: center;

    .addtoany_list>a {
      border: 0;
      display: inline-block;
      font-size: 16px;
      padding: 0px 5px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 40px;
    min-height: 700px;
  }

  .site-branding-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    padding: 28px 36px;

  }

  .site-branding__name {
    font-size: 32px;
    text-transform: none;
    margin: 0;
    letter-spacing: 2.8px;
    color: $blue;
    line-height: 34px;
  }

  .site-branding__slogan {
    color: $white;
  }
}

.region-header {
  width: 65%;
  display: flex;
  margin: 0 auto;
  background-color: $white;
}

#block-exam-main-menu {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  margin: 0;
}

.nav-item {
  font-size: 14px;
  position: relative;

  &:first-child {

    content: '';
    background: url('../img/Homepage-menu.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: start;

    a {
      color: transparent;

      &:hover:after {
        left: 0;
        right: 0;
        position: absolute;
        content: "";
        height: 7px;
        top: 61px;
        width: 50%;
        margin: 0;
        background: $blue;
      }
    }
  }

}

.nav-link {
  font-size: 14px;
  margin-right: 20px;
  text-transform: uppercase;

  &:hover:after {
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    height: 7px;
    top: 61px;
    width: 80%;
    margin: 0;
    background: $blue;
  }

  &:last-child {
    margin-right: 14px;
  }
}

#block-views-block-creativity-block-1 {
  position: relative;
  margin-top: -404px;
  margin-bottom: 280px;
  width: 66%;
  text-align: center;
  .views-field-title {
    font-size: 62px;
    color: white;
    line-height: 61px;
    font-weight: lighter;
  }

  .views-field-field-subtitle-header {
    font-size: 36px;
    line-height: 39px;
    letter-spacing: 1.4px;
    color: $primary;
  }

  .views-field-field-description-header{
    color: $blue;
    padding-left: 34%;
    padding-right: 33%;
  }
}