@import "../scss/variables";

#block-views-block-news-block-1 {
    .view-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;

    }

    .view-filters {
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;
    }

    .layout__region--second {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
        margin-bottom: 10px;
    }

    .layout--twocol-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .layout__region--first {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card {
        .row {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }

        &-body {
            border-left: 2px solid $primary-light;
            margin-left: -116px;
        }
    }

    .node__title {
        display: none;
    }

    .content {
        background: repeating-linear-gradient(-45deg, $primary-light, $primary-light 10%, transparent 10%, transparent 50%);
        background-size: 8px 8px;
        margin: 0;
        max-width: 100%;
        padding: 1px 0 80px;
    }

    h2 {
        line-height: 59px;
        font-size: 31px;
        text-transform: uppercase;
        color: $primary;
        font-weight: 700;
        margin: 149px auto 16px;

        &:before,
        &:after {
            background-color: $primary-light;
            content: ' ';
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 46%;
        }
    }


    .views-row {
        text-transform: uppercase;

        .layout--twocol-section.layout--twocol-section--25-75>.layout__region--first {
            flex: 0 1 14%;
            margin-top: 17px;
        }

        .layout--twocol-section.layout--twocol-section--25-75>.layout__region--second {
            flex: 0 1 82%;
            margin-top: 17px;
        }

        .node--view-mode-teaser .node__content {
            clear: none;
            font-size: 1em;
            line-height: 1.6;
            background-color: $white;
            margin-right: 10px;

            .content {
                background: none;
                padding: 0;
            }
        }

        .node--view-mode-teaser {
            border-bottom: none;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }

    .form-row {
        display: flex;
        margin-top: 16px;

        input {
            text-transform: uppercase;
        }

        .form-actions {
            align-self: center;
        }

        .node--view-mode-teaser {
            border-bottom: none;
            margin: 0;
        }

        .form-control {
            padding: 5px 15px 5px 15px;
        }

        #edit-actions--2 {
            input {
                text-transform: none;
            }
            &:active{
                background-color: $primary;
                color:$white;
            }
        }
    }


}

.block-field-blocknodenewstitle {
    font-size: 25px;
    margin-left: 15px;
    line-height: 37px;
}

.block-field-blocknodenewsfield {
    &-media-news {
        margin: 0 10px 0 -19px;
        padding: 0 0 0 15px;
        border-left: 2px solid $primary-light;
    }

    &-date-publication {
        color: $blue;
        font-size: 52px;
        line-height: 33px;
        font-weight: bolder;

        &:first-child {
            color: $black;
            font-size: 25px;
            font-weight: 300;
        }

        &:last-child {
            color: $primary-light;
            font-size: 14px;
        }

    }

    &-author-news {
        font-size: 14px;
        color: $black;

        &:first-child {
            color: $primary-light;
        }

        .field--name-field-author-news {
            display: flex;
            justify-content: space-evenly;
        }
    }


    &-job-news {
        font-size: 14px;
        color: $blue;
        margin-left: -8px;
    }

    &-date-news {
        font-size: 13px;
        color: $primary-light;
    }

    &-button-teams {
        text-align: center;
        height: 29px;
        line-height: 29px;
        font-size: 14px;
        width: 100px;
        margin: 10px 74%;
        background-color: $primary;

        a {
            color: $white;
        }
    }

    &-text-news {
        font-size: 14px;
        line-height: 16px;
        margin-left: 15px;

    }

}

#edit-submit-news {
    border-radius: 10px;
    padding: 4px 19px 8px 15px;
    background-color: $search-blue;
    border-color: $search-blue;

    &:active {
        background-color: $primary;
        color: $white;
    }
}