@import "../scss/variables";

#block-views-block-project-block-1 {
    .view-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .views-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 66px;
        background-color: $white;
        border-bottom: 1px solid $primary;
        width: 92%;
    }

    .content {
        padding: 0px 314px 0px 339px;
        background: repeating-linear-gradient(-45deg, $primary-light, $primary-light 10%, transparent 10%, transparent 50%);
        background-size: 8px 8px;
        margin: 0;
        max-width: 100%;
    }

    h2 {
        line-height: 61px;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
        color: $primary;
        margin: 89px auto 10px;

        &:before,
        &:after {
            background-color: $primary-light;
            content: ' ';
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 44%;
        }

    }

    .views-field-title {
        font-size: 23px;
        line-height: 39px;
    }

    .region-content {
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;
    }

    .pagerer-container {
        display: inline-table;
        border: 0;
        padding: 0;
        width: 100%;
        margin: 44px auto 154px;
    }
    .pagerer-center-pane {
        ul {
            display: flex;
            justify-content: center;
            align-items: baseline;
            list-style-type: none;
            padding-left: 0px;
            li {
                margin: 10px;
                padding: 0 5px;
                a {
                    color:$primary;
                    &:hover {
                        text-decoration: none;
                    }
                }
                &.is-active {
                    background-color: #d0d0d0;
                    border-radius: 50%;
                    padding: 0 5px;
                }
            }
            li:nth-child(3) {
                a {
                    padding-left: 2.5px;
                    padding-right: 2.5px;
                }
            }
        }
    }
    
    ul.pager__items .js-pager__items {
        left: -5px !important;
    }
}

.views-field-field-media-project {
    margin: 0px 0 32px;
}

.views-field-field-services-project {
    margin-bottom: 18px;
    font-size: 14px;

    a {
        text-decoration: none;

        &[href="/services/web-development"] {
            color: #1bbc9b;
        }

        &[href="/services/php-development"] {
            color: #9b58b5;
        }

        &[href="/services/app-development"] {
            color: #e84c3d;
        }

        &[href="/services/drupal"] {
            color: #32ade1;
        }
    }
}

.views-field-field-button-project {
    text-align: center;
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    width: 70px;
    margin: 3px 5px 11px -3px;
    background-color: $primary;

    a {
        color: $white;
    }
}