@import "../scss/_variables.scss";

#block-views-block-our-team-block-1 {
    .view-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .views-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        line-height: 60px;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        color: $primary;
        margin: 80px auto 21px;

        &:before,
        &:after {
            background-color: $primary-light;
            content: ' ';
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 43%;
        }
    }

    .views-field-title {
        font-size: 24px;
    }
}

.views-field-field-media-team {
    margin: 0px 0 36px;
}

.views-field-field-job-team {
    font-size: 12px;
    margin: -7px 0 18px;
}

.views-field-field-button-team {
    text-align: center;
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    width: 100px;
    margin-bottom: 25px;
    color: white;
    background-color: $primary;

    a {
        color: $white;
    }
}

.views-field-addtoany-share {
    margin-right: 110px;
}

.views-field-link-flag {
    margin: -25px 0px 27px 168px;
}